In [ ]:
## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [4]:
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

In [6]:
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
##Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [ ]:
import pandas as pd

In [8]:
data=[11,12,13,14,15,16,17,18,19,20]
series=pd.Series(data)

In [10]:
print(series)

0    11
1    12
2    13
3    14
4    15
5    16
6    17
7    18
8    19
9    20
dtype: int64

In [ ]:
Q3. Create a Pandas DataFrame that contains the following data:

    Name             Age               Gender
    
  Alice                25                Female
  Bob                  30                Male
  Claire               27                Female

Then, print the DataFrame.

In [12]:
import pandas as pd

In [13]:
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

In [14]:
df = pd.DataFrame(data)

In [15]:
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [16]:
import pandas as pd

In [22]:
# Example 1: Creating a DataFrame
data = {
    'Name': ['sudhanshu', 'krish', 'pandey'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

In [23]:
df = pd.DataFrame(data)

In [24]:
# Printing the DataFrame
print("DataFrame:")

DataFrame:

In [25]:
print(df)

        Name  Age  Gender
0  sudhanshu   25  Female
1      krish   30    Male
2     pandey   27  Female

In [26]:
# Example 2: Creating a Series
ages = pd.Series([25, 30, 27])

In [27]:
print("Series:")

Series:

In [28]:
print(ages)

0    25
1    30
2    27
dtype: int64

In [ ]:
##Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [29]:
import pandas as pd

In [30]:
data = {
    'Name': ['Alice', 'Bob', 'Claire', 'David', 'Eva'],
    'Age': [25, 30, 27, 22, 28],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female']
}

In [31]:
df = pd.DataFrame(data)

In [32]:
print(df.head(3))

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [33]:
print(df.head(3))

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
##Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [34]:
data = [['Alice', 10], ['Bob', 20], ['Carol', 30]]

In [35]:
df = pd.DataFrame(data, columns=['Name', 'Age'])

In [36]:
print(df)

    Name  Age
0  Alice   10
1    Bob   20
2  Carol   30

In [ ]:
## Q7. Create a DataFrame using multiple Series. Explain with an example.

In [37]:
import pandas as pd

In [38]:
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

In [39]:
data = {
    'Name': name_series,
    'Age': age_series,
    'Gender': gender_series
}

In [40]:
df = pd.DataFrame(data)

In [41]:
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female